<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".BageScanActivity" />
        <activity android:name=".BageScanOtherResultActivity" />
    </application>
</manifest>
